<section class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="mazel/img/full/18.jpg">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Service</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>Service</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Intro Section -->
        
        <!-- Service Section -->
        <section id="service" class="wow fadeIn pt pb-80">
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="h4">Our Service</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">Integer tincidunt Cras dapibus ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac.</p>
                    </div>
                </div>
                <div class="row mt-60">
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                        <h5>Web Design</h5>
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                        <h5>Development</h5>
                        <p>Donec sodales sagittis magna. hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus, augue velit cursus nunc.</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                        <h5>Branding</h5>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                        <h5>Photography</h5>
                        <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                        <h5>Typography</h5>
                        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil.</p>
                    </div>
                    <div class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                        <h5>Ui Design</h5>
                        <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Statement Section -->
        <section class="dark-bg  ptb-60" id="statement">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="mb-15">Pellentesque eu pretium quis adipiscing sem?</h4>
                        <a class="btn btn-md btn-white">See More</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Statement Section -->

        <!-- Contant Slider Section -->
        <section id="contant" class="wow fadeIn ptb ptb-sm-80">
            <div class="owl-carousel content-carousel content-slider">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="img/moc-1.png" alt="" />
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <h3>Flexible & Customizable</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 mb-sm-30">
                                <h3>Multiprapose Theme</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla.</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy Now</a>
                            </div>
                            <div class="col-md-6 offset-md-1">
                                <img src="img/moc-1.png" alt="" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="img/moc-2.png" alt="" />
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <h3>Fully Responsive</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contain Slider Section -->