<section  class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" data-background-img="mazel/img/full/18.jpg">
            <div class="container">
                <div class="row title">
                    <h2 class="h2" ng-bind="pageContent.header.title"></h2>
                    <!-- <div class="page-breadcrumb">
                        <a>Home</a>/<span>Service</span>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End Intro Section -->
        
        <!-- Service Section -->
        <section  flexslider id="service" class="wow fadeIn pt pb-80">
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col-md-8 offset-md-2">
                        <h3 class="h4" ng-bind="pageContent.content.title"></h3>
                        <div class="spacer-15"></div>
                        <p class="lead" ng-bind="pageContent.content.desc"></p>
                    </div>
                </div>
                <div class="row mt-60">
                    <div ng-repeat="practice in pageContent.content.practices track by $index" class="col-md-4 mb-45">
                        <div class="page-icon-top"><i class="{{practice.image}}"></i></div>
                        <h5 ng-bind="practice.title"></h5>
                        <p ng-bind="practice.desc"></p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Statement Section -->
        <section class="dark-bg  ptb-60" id="statement">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="mb-15" ng-bind="pageContent.content.statement"></h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Statement Section -->

        <!-- Contant Slider Section -->
        <section id="contant" class="wow fadeIn ptb ptb-sm-80">
            <div class="owl-carousel content-carousel content-slider">
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="img/moc-1.png" alt="" />
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <h3 ng-bind="pageContent.content.projects[0].title"></h3>
                                <div class="spacer-15"></div>
                                <p>{{pageContent.content.projects[0].desc}}</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 mb-sm-30">
                                <h3>Multiprapose Theme</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla.</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy Now</a>
                            </div>
                            <div class="col-md-6 offset-md-1">
                                <img src="img/moc-1.png" alt="" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mb-sm-30">
                                <img src="img/moc-2.png" alt="" />
                            </div>
                            <div class="col-md-5 offset-md-1">
                                <h3>Fully Responsive</h3>
                                <div class="spacer-15"></div>
                                <p>Cras dapibus Vivamus elementum semper nisi Aenean vulputate eleifend tellus Aenean leo ligula, porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet.</p>
                                <p>porttitor eu consequat vitae Phasellus viverra nulla ut metus varius laoreet</p>
                                <div class="spacer-15"></div>
                                <a class="btn btn-md btn-black">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contain Slider Section -->