
 <!-- Intro Section -->
 
        <section flexslider ng-if="pageContent.header.image" class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" ng-style="{'background-image':'url({{pageContent.header.image}})'}">
            <div class="container">
                <div class="row title">
                    <h2 class="h2" ng-bind="::pageContent.header.title"></h2>  
                      <p ng-bind="::pageContent.header.desc"></p>          
                </div>
            </div>
        </section>
        <!-- End Intro Section -->


        <!-- About Section -->
        <section class="ptb ptb-sm-80">
            <div class="container custom-spacing">
                <div class="row">
                    <div  class="col-md-6">
                        <h3 ng-show="pageContent.content.title" ng-bind="pageContent.content.title"></h3>
                        <p  ng-bind="pageContent.content.desc.para1"></p>
                    </div>
                    <div class="col-md-6">
                        <p ng-bind="pageContent.content.desc.para2"></p>
                        <p ng-bind="pageContent.content.desc.para3"></p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Team -->
        <section class="pb pb-sm-80">
            <div class="container">
                <!--Team Carousel -->
               <!--  <div class="row"> -->
                    <div class="owl-carousel team-carousel nf-carousel-theme" owl-carousel>

                        <div   owl-carousel-item="" options="team-carousel" class="item" ng-repeat="member in pageContent.content.team" >
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img ng-src="{{member.img}}" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5 ng-bind="member.name"></h5>
                                            <p  ng-bind="member.desc"></p>
                                            <ul class="social">
                                                <li  ng-repeat="(key, link) in member.socialLinks"><a href="link" target="_blank"><i class="fa {{link.class}}"></i></a></li>
                                                <!-- <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5 ng-bind="member.name"></h5>
                                    <p class="" ng-bind="member.desc"></p>
                                </div>
                            </div>
                        </div>                        
                    </div>
                <!-- </div> -->
                <!--End Team Carousel --->
            </div>
        </section>
        <!-- End Team -->

        <!-- Testimonials -->

        
          <section  ng-show="pageContent.content.quotes" id="testimonial" class="pb-sm-60">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme" owl-carousel>
                    <div  owl-carousel-item="" options="testimonial-carousel" ng-repeat="quote in pageContent.content.quotes" class="item">
                        <div   class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead" ng-bind="quote.quote"></p>
                            <h6  class="quote-author" ng-bind="quote.author"> <!-- <span style="font-weight: 400;">( Appel Studio )</span> --></h6>
                        </div>
                    </div>
                   <!--  <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" It's true, you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist eating his dummy. "</p>
                            <h6 class="quote-author">Alexander Theroux <span style="font-weight: 400;">( USA )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" We're not leaving here without Buster, man. Leave no crash-test dummy behind! "</p>
                            <h6 class="quote-author">Adam Savage <span style="font-weight: 400;">( Artist )</span></h6>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <!-- Service -->
        <section flexslider class="ptb ptb-sm-80">
            <div class="wow fadeIn container text-center">
                <h3>What We Do Best</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div ng-repeat="(key, value) in pageContent.content.service" class="col-md-4">
                        <div class="page-icon-top"><i class="{{value.class}}"></i></div>
                        <h5 ng-bind="value.title"></h5>
                        <p ng-bind="value.desc"></p>
                    </div>
                </div>
            </div>
        </section>
       
        <!-- End Service -->

        <hr />

        <!-- Client Logos Section -->
        
        <section id="client-logos" class="ptb-60 ptb-sm-40">
            <div class="wow fadeIn container text-center">
                <h3>Our Clients</h3>
                <div class="spacer-60"></div>
                <div class="owl-carousel client-carousel nf-carousel-theme" owl-carousel>
                    <div owl-carousel-item="" options="client-carousel" ng-repeat="img in pageContent.content.clientLogos" class="item">
                        <div class="client-logo">
                            <img ng-src="mazel/img/logos/{{img}}" alt="" />
                        </div>
                    </div>         
                </div>
            </div>
            </div>       
        </section>
        <!-- End Client Logos Section -->
