
 <!-- Intro Section -->
 
        <section flexslider ng-if="pageContent.header.image" class="inner-intro dark-bg bg-image overlay-dark parallax parallax-background1" ng-style="{'background-image':'url({{pageContent.header.image}})'}">
            <div class="container">
                <div class="row title">
                    <h2 class="h2" ng-bind="::pageContent.header.title"></h2>  
                      <p ng-bind="::pageContent.header.desc"></p>          
                </div>
            </div>
        </section>
        <!-- End Intro Section -->


        <!-- About Section -->
        <section class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div  class="col-md-6">
                        <h3 ng-show="pageContent.content.title" ng-bind="pageContent.content.title"></h3>
                        <p  ng-bind="pageContent.content.desc.para1"></p>
                    </div>
                    <div class="col-md-6">
                        <p ng-bind="pageContent.content.desc.para2"></p>
                        <p ng-bind="pageContent.content.desc.para3"></p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Team -->
        <section class="pb pb-sm-80">
            <div class="container">
                <!--Team Carousel -->
                <div class="row">
                    <div class="owl-carousel team-carousel nf-carousel-theme" owl-carousel>

                        <div   owl-carousel-item="" options="team-carousel" class="item" ng-repeat="member in pageContent.content.team" >
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img ng-src="{{member.img}}" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5 ng-bind="member.name"></h5>
                                            <p  ng-bind="member.desc"></p>
                                            <ul class="social">
                                                <li  ng-repeat="(key, link) in member.socialLinks"><a href="link" target="_blank"><i class="fa {{link.class}}"></i></a></li>
                                                <!-- <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5 ng-bind="member.name"></h5>
                                    <p class="" ng-bind="member.desc"></p>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img ng-src="{{pageContent.content.team[0].img}}" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5 ng-bind="pageContent.content.team[0].name"></h5>
                                            <p ng-bind="pageContent.content.team[0].desc"></p>
                                            <ul class="social">
                                               <li  ng-repeat="links in pageContent.content.team[0].socialLinks"><a href="links.link" target="_blank"><i class="fa {{links.class}}"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5 ng-bind="pageContent.content.team[0].name"></h5>
                                    <p class="" ng-bind="pageContent.content.team[0].designation"></p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img ng-src="{{pageContent.content.team[1].img}}" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5 ng-bind="pageContent.content.team[1].name"></h5>
                                            <p ng-bind="pageContent.content.team[1].desc"></p>
                                            <ul class="social">
                                               <li  ng-repeat="links in pageContent.content.team[1].socialLinks"><a href="links.link" target="_blank"><i class="fa {{links.class}}"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5  ng-bind="pageContent.content.team[1].name"></h5>
                                    <p class="" ng-bind="pageContent.content.team[1].designation"></p>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="img/team/people-3.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>John Doe</h5>
                                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>John Doe</h5>
                                    <p class="">Project Manager</p>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="team-item nf-col-padding">
                                <div class="team-item-img">
                                    <img src="img/team/people-4.jpg" alt="" />
                                    <div class="team-item-detail">
                                        <div class="team-item-detail-inner light-color">
                                            <h5>Michael Lee</h5>
                                            <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                            <ul class="social">
                                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="https://www.dribbble.com/" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                                <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-item-info">
                                    <h5>Michael Lee</h5>
                                    <p class="">Photographer</p>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
                <!--End Team Carousel --->
            </div>
        </section>
        <!-- End Team -->

        <!-- Testimonials -->

        
          <section  ng-if="pageContent.content.quotes" id="testimonial" class="pb pb-sm-80">
            <div class="container">
                <div class="owl-carousel testimonial-carousel nf-carousel-theme" owl-carousel>
                    <div  owl-carousel-item="" options="testimonial-carousel" ng-repeat="quote in pageContent.content.quotes" class="item">
                        <div   class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead" ng-bind="quote.quote"></p>
                            <h6  class="quote-author" ng-bind="quote.author"> <!-- <span style="font-weight: 400;">( Appel Studio )</span> --></h6>
                        </div>
                    </div>
                   <!--  <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" It's true, you can never eat a pet you name. And anyway, I did my first show in the third grade it would be like a ventriloquist eating his dummy. "</p>
                            <h6 class="quote-author">Alexander Theroux <span style="font-weight: 400;">( USA )</span></h6>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial text-center dark-color">
                            <div class="container-icon"><i class="fa fa-quote-right"></i></div>
                            <p class="lead">" We're not leaving here without Buster, man. Leave no crash-test dummy behind! "</p>
                            <h6 class="quote-author">Adam Savage <span style="font-weight: 400;">( Artist )</span></h6>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End Testimonials -->

        <!-- Service -->
        <section flexslider class="ptb ptb-sm-80">
            <div class="wow fadeIn container text-center">
                <h3>What We Do Best</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div ng-repeat="(key, value) in pageContent.content.service" class="col-md-4">
                        <div class="page-icon-top"><i class="{{value.class}}"></i></div>
                        <h5 ng-bind="value.title"></h5>
                        <p ng-bind="value.desc"></p>
                    </div>
                </div>
            </div>
        </section>
       <!--  <section class="ptb ptb-sm-80">
            <div class="wow fadeIn container text-center">
                <h3>What We Do</h3>
                <div class="spacer-60"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                        <h5>Web Design</h5>
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                        <h5>Development</h5>
                        <p>Donec sodales sagittis magna. hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus, augue velit cursus nunc.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                        <h5>Branding</h5>
                        <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Service -->

        <hr />

        <!-- Client Logos Section -->
        <!-- <section id="client-logos" class="wow fadeIn ptb ptb-sm-80">
            <div class="container">
                <div class="owl-carousel client-carousel nf-carousel-theme ">
                    <div class="item">
                        <div class="client-logo">
                            <img src="mazel/img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="mazel/img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/03.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/04.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/05.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/06.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/08.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/01.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/02.png" alt="" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="client-logo">
                            <img src="img/logos/03.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Client Logos Section -->

        <!-- Statement Section -->
        <!-- <section class="dark-bg  ptb-60" id="statement">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h4 class="mb-15">Pellentesque eu pretium quis adipiscing sem?</h4>
                        <a class="btn btn-md btn-white">Buy this Theme</a>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- End Statement Section -->